$background-color: #f1cd01;
$secondary-color: #604675;
$beige: #F5F5DC;

.destination-item {
    width: 80%;
    height: 20em;
    background-color: $background-color;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    margin: auto;
    transition: scale 1s;
    #logo, svg, p, img {
        display: flex;
        margin: auto;
    }
    p {
        text-align: center;
    }
    img {
        height: 90%;
        width: 80%;
    }
}

.destination-item:hover {
    scale: 1.1;
}

.purple {
    background-color: $secondary-color;
    color: $beige;
}

/* media queries */
@media (max-width: 768px) {
    /* display each element in its own row */
    .destination-item {
        width: 100%;
    }
}