$primary-color: #f1cd01;
$secondary-color: #604675;

.poi-container {
  display: flex;
  flex-direction: column;
  max-width: 20em;
  margin: auto auto 1.5em;

  p,
  h3 {
    font-size: 1.2rem;
    text-align: center;
  }
}

.poi-border-0 {
  border-left: 0.4em $primary-color solid;
}

.poi-border-1 {
  border-right: 0.4em $secondary-color solid;
}
