/* form styling */
form {
  /* vertically centered */
  display: flex;
  flex-direction: column;
  margin: auto;
}

.form-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1em;
  align-items: start;

  label {
    text-align: right;
    min-width: 200px;
  }
}

.form-element {
  max-width: 40em;
}

.amenities-container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.form-container {
  display: grid;
  margin: auto;
  gap: 1em;

  button {
    max-width: 10em;
    margin: auto;
  }
}

.error {
  color: red;
  grid-column: 2;
}

/* media queries */
@media (width <=768px) {
  /* display each element in its own row */
  .form-grid {
    display: flex;
    flex-direction: column;
    gap: 0;

    label {
      text-align: left;
    }
  }
}
