$primary-color: #ffffff;
$secondary-color: #000000;

/* basic colors, margins, etc. */
body {
  background-color: $primary-color;
  margin: 0;
}

h2 {
  color: $secondary-color;
  text-align: center;
}

header, section {
    padding-bottom: 2em;
}

/* grid styling */
.basic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* form styling */
form {
    /* vertically centered */
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* header styling */
header {
    height: 100vh;
    img {
        width: 100%;
        height: 70vh;
        display: flex;
    }
}

/* explore downtown styling */
#explore_downtown {
    img {
        width: 100%;
    }
}

/* planner styling */
#planner {
    .basic-grid {
        form, .map {
            border: 2px black solid;
        }
        .map {
            height: 30em;
        }
    }
}

/* footer styling */


/* media queries */
@media (max-width: 768px) {
    /* display each element in its own row */
    .basic-grid {
        grid-template-columns: 1fr;
    }
}