.station-finder {
  color: black;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  line-height: normal;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.2em;
}

.filter-split div .loader {
  min-width: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.2em;
}
